*::selection{
    color:rgba(255, 149, 34, 0.4);
    background-color:rgb(250, 240, 225);
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    background-image: url("Imagenes/fondo.png");
    margin:2%;
    animation: comienzo 3s backwards;

}

h1{
    font-family: "Lemon", cursive;
    font-size: 10vw;
    text-align: center;
    position: relative;
}

header{
    margin-bottom: 10%;
    color:rgba(255, 149, 34, 0.4);

}

.fondo{
    background-color:rgb(250, 240, 225);
    border: double rgb(140, 83, 0);
    border-radius: 2%;
    padding-bottom: 15vw;
}

img{
    padding: 5vw;
    text-align: center;
}

.container{
    display: flex;
}

.navegador{
    display:flex;
    justify-content: center;
    letter-spacing: 8px;
    position:relative;
}

.barra{
    text-decoration: none;
    color: rgb(140, 83, 0);
}

.fa-dice-one, 
.fa-dice-two, 
.fa-dice-three, 
.fa-dice-four{
    color:rgb(140, 83, 0);
}

h2, 
p, 
li, 
a, 
input::placeholder,
textarea::placeholder, 
ul{
    font-family: 'Expletus Sans', cursive;
}

input::placeholder, 
textarea::placeholder{
    color:rgb(140, 83, 0);
    padding: .5%;
}

.envio{
    width:150px;
    cursor:pointer;
}

h2{
    line-height:2;
    font-size:30px;
}

a{
    text-decoration: none;
    color: rgb(140, 83, 0);
    cursor:pointer;
}

a:hover,
.barra:hover{
    color: rgba(255, 149, 34, 0.4);
}

footer{
    text-align: center;
    margin-top:auto;
    display:none;
}

article{
    display:none;
}

.withFlex, .conocimientos{
    display:flex;
}

input,
textarea{
    margin: 1%;
    padding: 1%;
    width: 85vw;
    height:5vw;
}

details{
    font-family: 'Expletus Sans', cursive;
    font-size: 20px;
    margin-right: 10px;
}

details p {
    font-size: 15px;
    margin: 5px;
    color: rgb(140, 83, 0);  
}

summary{
    cursor: pointer;
    list-style-type: circle;
}

.fa-bars{
    background-color:rgb(250, 240, 225);
    border:none;
    color:rgba(255, 149, 34, 0.4);
    margin: 10px;
}

.navegador_Responsive{
    display:none;
    background-color:rgb(250, 240, 225);
    border-bottom: double rgb(140, 83, 0);
    
}

.nuevo_nav{
    display:none;  
}

form{
    display:flex;
    flex-direction: column;
}

#conocimientos,
#proyectos,
#contactame,
#cursos{
    padding-left: 10px;
}

#proyectos img{
    border: groove rgb(140, 83, 0);
    max-width: 50%;
    max-height: 50%;
}

#proyectos{
    text-align: center;
}

@media(max-width: 990px){
    .navegador{
        display:none;
    }
    .navegador_Responsive{
        display:block;
    }
    .conocimientos{
        flex-direction: column;
    }
}


@keyframes comienzo {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

