*::selection{
    color:rgba(255, 149, 34, 0.4);
    background-color:rgb(250, 240, 225);
}


html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    background-image: url("Imagenes/fondo.png");
    margin:6%;
    animation: comienzo 3s backwards;
}

h1{
    font-family: "Lemon", cursive;
    line-height: 3.5;
    font-size: 200px;
    text-align: center;
    background-color:rgb(250, 240, 225);
    border: double rgb(140, 83, 0);
    color:rgba(255, 149, 34, 0.4);
    border-radius: 2%;
}

.container{
    display: flex;
    padding-top: 50px;
}

.navegador{
    display:flex;
    margin-top: -350px;
    justify-content: center;
    letter-spacing: 8px
}

.barra{
    margin-left:5px;
    margin-right: 4px;
    text-decoration: none;
    color: rgb(140, 83, 0);
}

.fa-dice-one, 
.fa-dice-two, 
.fa-dice-three, 
.fa-dice-four, 
.fa-dice-five{
    color:rgb(140, 83, 0);
}

h2, 
p, 
li, 
a, 
input::placeholder,
textarea::placeholder, 
ul{
    font-family: 'Expletus Sans', cursive;
}

input::placeholder, 
textarea::placeholder{
    color:rgb(140, 83, 0);
    padding: .5%;
}

.envio{
    width:150px;
    cursor:pointer;
}

h2{
    line-height:2;
    font-size:30px;
}

a{
    text-decoration: none;
    color: rgb(140, 83, 0);
    cursor:pointer;
}

a:hover,
.barra:hover{
    color: rgba(255, 149, 34, 0.4);
}

footer{
    text-align: center;
    margin-top:auto;
    display:none;
}

article{
    display:none;
}

.withFlex{
    display:flex;
}

input,
textarea{
    margin: 1%;
    width: 1650px;
    height: 50px;
    padding: 1%;
}

textarea{
    height:100px;
    resize: none;
}

.fa-bars{
    background-color:rgb(250, 240, 225);
    border:none;
    color:rgba(255, 149, 34, 0.4);

}

.navegador_Responsive{
    display:none;
    background-color:rgb(250, 240, 225);
    
}

.nuevo_nav{
    display:none;  
}

form{
    display:flex;
    flex-direction: column;
}

#sobreMi, 
#conocimientos{
    margin-top:27%;
}

#proyectos,
#contactame,
#cursos{
    margin-top:16%;
}


@media(max-width: 1319px){
    h1{
        font-size: 42px;
    }
    .navegador{
        display:none;
    }
    .navegador_Responsive{
        display:block;
    }
    #sobreMi{
        margin-top:0%;

    }
    input,
    textarea{
        width: 1px;
    }
}

@media(max-width: 1319px){
    input,
    textarea{
        width: 300px;
    }
}


@media(max-width: 290px){
    h1{
        font-size: 40px;
    }

}

@keyframes comienzo {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}